# PowerShell scripts
*.ps1
.dockerignore
# Git files
.git*
# Visual Studio Code
.vscode
# Docker build
Dockerfile*
# Readme 
README*
# Windows command files
*.cmd
# Jest
jest*
node_modules
# Redis
server.ts
# Source files
src/
# Test files
tests/
# TypeScript configuration
tsconfig.json
